{% extends 'base.html' %}

{% block title %}Careers - E-MpiloLearning{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/career.css') }}">
{% endblock %}

{% block content %}
<main>
    <h2>Join Our Team</h2>
    <div class="career-cards-container">
        <div class="career-card management-card">
            <a href="{{ url_for('management_vacancies') }}">
                <img src="{{ url_for('static', filename='images/Management.jpeg') }}" alt="Management">
                <h3>Management</h3>
                <p>Join our management team and help shape the future of education.</p>
            </a>
        </div>
        <div class="career-card tutoring-card">
            <a href="{{ url_for('tutoring_vacancies') }}">
                <img src="{{ url_for('static', filename='images/Tutoring.jpeg') }}" alt="Tutoring">
                <h3>Tutoring</h3>
                <p>Join our tutoring team, and help learners both online and in person across the whole of South Africa.</p>
            </a>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}{% endblock %}
