<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <!-- Link to CSS -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <!-- Link to JavaScript -->

    <script
      src="{{ url_for('static', filename='js/scripts.js') }}"
      defer
    ></script>
  </head>
  <body>
    {% include 'navbar.html' %}

    <main>
      <h1>Home</h1>

      <h2>Welcome {{session['name']}}</h2>

      {% if message %}
      <p style="color: green">{{ message }}</p>
      {% endif %}
      <!-- <p>You are logged in!</p> -->
    </main>

    <footer>
      <p>&copy; 2025 E-MpiloLearning</p>
    </footer>
  </body>
</html>
