<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Lessons | E-MpiloLearning</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <main  style="max-width: 1200px; margin: 0 auto;">
      <!-- Live Meetings Section -->
      {% for category, meetings in meetings.items() %}
      <h2 class="category-title">
        {% if category == 'live' %}
          Live Meetings 🔴
        {% elif category == 'today' %}
          Today
        {% elif category == 'tomorrow' %}
          Tomorrow
        {% else %}
          {{ category }}
        {% endif %}
      </h2>

        <div class="grid">
          {% if category == 'live' %}
            {% for meeting in meetings %}
              <div class="card live-meeting shadow-lg p-3 mb-3">
                <h5 class="card-title">{{ meeting.title }}</h5>
                <h6 class="card-subtitle text-muted">{{ meeting.day }}</h6>
                <p class="text-success fw-bold">LIVE NOW!</p>
                <p class="card-text">{{ meeting.time }}</p>
                <a href="{{ url_for('get_meeting', meetingId=meeting.id) }}" class="btn btn-danger" target="_blank">Join Meeting</a>
              </div>
            {% endfor %}
          {% else %}
            {% for meeting in meetings %}
              <div class="card upcoming-meeting shadow-lg p-3 mb-3">
                <h5 class="card-title">{{ meeting.title }}</h5>
                <h6 class="card-subtitle text-muted">{{ meeting.day }}</h6>
                <p class="card-text">{{ meeting.time }}</p>
                <a href="{{ url_for('get_meeting', meetingId=meeting.id) }}" class="btn btn-primary" target="_blank">Join Meeting</a>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      {% endfor %}

    </main>
    <footer>
        &copy; 2025 E-MpiloLearning
    </footer>
</body>
</html>
