<!-- templates/navbar.html -->
<header>
    <h1>HASci</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('register') }}">Sign Up</a></li>
            <li><a href="{{ url_for('login') }}">Sign In</a></li>
            <li><a href="{{ url_for('gallery_page') }}">Gallery</a></li>
            <li><a href="{{ url_for('live_lesson') }}">Live Lesson</a></li>
            <li><a href="{{ url_for('recorded_lesson') }}">Recorded Lesson</a></li>
            <li><a href="{{ url_for('subject') }}">Subject</a></li>
        </ul>
    </nav>
</header>
